/* Global */


/* Font Family */
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
         url('../fonts/Satoshi-Variable.woff') format('woff'),
         url('../fonts/Satoshi-Variable.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Satoshi-Variable';
    src: url('../fonts/Satoshi-VariableItalic.woff2') format('woff2'),
          url('../fonts/Satoshi-VariableItalic.woff') format('woff'),
          url('../fonts/Satoshi-VariableItalic.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
}

@font-face {
  font-family: 'Pix-PixelFC';
  src: url('../fonts/Pix-PixelFJ.woff2') format('woff2'),
        url('../fonts/Pix-PixelFJ.woff') format('woff'),
        url('../fonts/Pix-PixelFJ.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* ID Style */
#onboardborder{
    position: fixed;
    top: 0px;
    left: 0px;

    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
}

#section1{
    position: relative;
    display: grid;
    align-content: space-between;
    padding-top: 14px;

    height: 100vh;
    min-height: 800px;
    max-height: 800px;
    overflow: hidden;

    border: solid 0px;
    border-radius: 24px;
}

#section2{
    padding-bottom: 14px;
    margin-top: 14px;
    overflow: hidden;

    border: solid 0px;
    border-radius: 24px;
}

/* Standard */
.title{
  position:fixed;
  transform: translate(-50%,-50%) scale(0);

  display: grid;
  place-content: center;
  pointer-events: none;
  overflow: hidden;

  border: solid;
  border-width: 0px;
}

.conicBg {
  background: conic-gradient(#FFFFFF00, #FFFFFF00, #FFFFFFEB, #FFFFFF, #FFFFFF00);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
	from {
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes rotating {
	from {
		-ms-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.rotating1 {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
}

.rotating2 {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
  animation-delay: 300ms;
}

.rotating3 {
	-webkit-animation: rotating 2s linear infinite;
	-moz-animation: rotating 2s linear infinite;
	-ms-animation: rotating 2s linear infinite;
	-o-animation: rotating 2s linear infinite;
	animation: rotating 2s linear infinite;
  animation-delay: 600ms;
}

.rotating4 {
	-webkit-animation: rotating 1.5s linear infinite;
	-moz-animation: rotating 1.5s linear infinite;
	-ms-animation: rotating 1.5s linear infinite;
	-o-animation: rotating 1.5s linear infinite;
	animation: rotating 1.5s linear infinite;
}

.nav-btn {
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

.nav-btn:before {
    content: attr(data-text);
	transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
    opacity: 1;
    transform: translate(0, -2px);
}
.nav-btn:hover:before {
    opacity: 0;
    transform: translate(0, 22px);
}

.nav-btn span {
    transition: transform 0.25s cubic-bezier(0.5, -1, 0.5, 2), opacity 0.25s cubic-bezier(0.5, -1, 0.5, 2);
    opacity: 0;
    transform: translate(0, -20px);
}
.nav-btn:hover span {
    opacity: 1;
    transform: translate(0, -2px);
}
.nav-btn:hover span:nth-child(1) {
    transition-delay: 0.025s; 
}
.nav-btn:hover span:nth-child(2) {
    transition-delay: 0.050s; 
}
.nav-btn:hover span:nth-child(3) {
    transition-delay: 0.075s; 
}
.nav-btn:hover span:nth-child(4) {
    transition-delay: 0.1s; 
}
.nav-btn:hover span:nth-child(5) {
    transition-delay: 0.125s; 
}
.nav-btn:hover span:nth-child(6) {
    transition-delay: 0.15s; 
}
.nav-btn:hover span:nth-child(7) {
    transition-delay: 0.175s; 
}
.nav-btn:hover span:nth-child(8) {
    transition-delay: 0.2s; 
}
.nav-btn:hover span:nth-child(9) {
    transition-delay: 0.225s; 
}
.nav-btn:hover span:nth-child(10) {
    transition-delay: 0.25s; 
}
.nav-btn:hover span:nth-child(11) {
    transition-delay: 0.275s; 
}
.nav-btn:hover span:nth-child(12) {
    transition-delay: 0.3s; 
}
.nav-btn:hover span:nth-child(13) {
    transition-delay: 0.25s; 
}
.nav-btn:hover span:nth-child(14) {
    transition-delay: 0.275s; 
}
.nav-btn:hover span:nth-child(15) {
    transition-delay: 0.3s; 
}
.nav-btn:hover span:nth-child(16) {
    transition-delay: 0.325s; 
}
.nav-btn:hover span:nth-child(17) {
    transition-delay: 0.35s; 
}
.nav-btn:hover span:nth-child(18) {
    transition-delay: 0.375s; 
}
.nav-btn:hover span:nth-child(19) {
    transition-delay: 0.4s; 
}
.nav-btn:hover span:nth-child(20) {
    transition-delay: 0.425s; 
}

#mouse {
    transition: top 0.4s ease-out, left 0.4s ease-out;
}

/* Animate Onboarding */
#onboarding {
    animation-duration: 6s;
    animation-name: scaleImage;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.onboarding-icon {
    animation-duration: 5s;
    animation-name: changeFill;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}

#onboard {
    animation-duration: 3s, 3s;
    animation-name: changeBgn, changeTransparancy;
    animation-delay: 3s, 6s;
    animation-fill-mode: forwards;
    background-color: #070707;
}

@keyframes scaleImage {
    from{
        transform: scale(1, 1);
    }
    to{
        transform: scale(5, 5);
    }
}

@keyframes changeFill {
    from{
        fill: #EDFF21;
    }
    to{
        fill: white;
    }
}

@keyframes changeBgn {
    from{
        background-color: #070707;
    }
    to{
        background-color: white;
    }
}

@keyframes changeTransparancy {
    from{
        opacity: 100;
    }
    to{
        opacity: 0;
    }
}